# macOS
.DS_Store

# Xcode user data
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint
xcuserdata/
MonthlyMoney.xcodeproj/xcuserdata/rog.xcuserdatad/xcschemes/xcschememanagement.plist

# Xcode build products
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Local git worktrees
.worktrees/
